<div class="container my-5" style="width: 450px;">
  <!--<h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
  -->
  <h2 class="text-center">Modifiez mon profil</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :email, "Votre email :" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>En attent de confirmation de: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <%= f.label :password, "Nouveau mot de passe :" %> <br/><i>(Gardez cet espace vide si vous voulez pas le changer)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> caractères minimum</em>
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation, "Confirmation du nouveau mot de passe :" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :current_password, "Votre mot de passe actuel" %> <i>(Votre mot de passe actuel)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="actions text-center">
      <%= f.submit "Mettre à jour", class: "btn btn-success text-center" %>
    </div>
  <% end %>
</div>

<div class="container my-5" style="width: 550px;">
  <h4 class="text-center">Je veux pas modifier mon compte</h4>
    <div class="actions text-center">
      <%= link_to "Retour", :back, class: "btn btn-primary text-center" %>
    </div>
</div>

<hr>
<div class="container my-5">
  <h4 class="text-center">Vous êtes pas satisfait ?</h4>
    <div class="actions text-center">
      <%= link_to "Supprimez mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger text-center" %>
    </div>
</div>