<div class="jumbotron text-center">
  <h1 class="display-3">Mon panier</h1>
</div>
<div class="container">
    <div class="row">
      <div class="col-8 bg-light p-0 d-inline-flex">
        <table class="table table-hover">
          <thead>
            <tr class="table-active">
              <th>Photo</th>
              <td>Titre</td>
              <td>Prix</td>
              <td></td>
            </tr>
          </thead>

          <tbody>
              <% i=0 %>
              <% @cart.items.each do |item| %>
                <tr class="row">
                  <td class="col-3"><img src="<%= item.image_url %>"  alt="" class="w-50 h-auto rounded"></td>
                  <td class="col-3"><h6><%= item.title %></h6></td>
                  <td class="col-2"><h5 class="mt-3 mb-3"><%= item.price %> €</h5></td>
                    <%= item.id %>
                  <td class="col-2">
                  <form>
                      <% i+=1 %>
                    <input type="number" id="quantity" name="quantity<%=item.id%>" min="1" max="5" value= "1">
                    <input type="submit" value="Submit">
                  </form>
                  <%= "quantité en base" %>
                  <%= JoinTableItemCart.where("cart_id = #{current_user.id}").find_by(item_id: item.id).quantity %>
                  </td>

                  <%= item.id %>
                  <% q= request.original_url.split('').last %>
                  <%= itemid= request.original_url.slice(request.original_url.length - 3)%>
                  <% if JoinTableItemCart.where("cart_id = #{current_user.id}").find_by(item_id: itemid) != nil %>

                    <% JoinTableItemCart.where("cart_id = #{current_user.id}").find_by(item_id: itemid).update(quantity: q) %>
                    <%= JoinTableItemCart.where("cart_id = #{current_user.id}").find_by(item_id: itemid).quantity %>

                  <% end %>
                  <% q= 0 %>


                  <!-- récupérer la valeur du form
                  JoinTableItemCart.where("cart_id = #{current_user.id}").find_by(item_id: item.id).quantity = cette valeur -->


                  <td class="col-2"><%= link_to "", join_table_item_cart_path(item.join_table_item_carts.find_by(cart_id: @cart.id), :cart_id => @cart.id, :item_id => item.id), method: :delete, class: "fas fa-times text-decoration-none" %></td>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-4 bg-light p-4 align-content-between flex-wrap">
        <h4><strong>Total de la commande :</h4>
        <h3><strong><%= @total_price %> €</h3>
      </div>
    </div>

    <div class="row pt-3 pb-3 pl-0 pr-0 align-middle">
      <div class="col-8 p-0 m-0"></div>
      <div class="col-4 p-0 m-0 text-center">
        <%= form_tag orders_path(:cart_id => @cart.id, :total_price => @total_price) do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          style="display: none;"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Paiement de la commande"
                  data-amount="<%= @total_price*100 %>"
                  data-currency='eur'
                  data-label = "Commander"
                  data-image="https://thumbs.dreamstime.com/t/cash-currency-euro-money-price-shopping-outline-icon-signs-symbols-can-be-used-web-logo-mobile-app-ui-ux-white-146328719.jpg"
                  data-locale="auto">
          </script>

          <script>
            var x = document.getElementById("quantity");
            console.log(x.value);

          </script>
        <% end %>
      </div>
    </div>
</div>
