<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        border-collapse: collapse;
      }

      table, th, td {
        border: 1px solid black;
      }
    </style>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation de commande n°<%= @order.id %></h1>
    <p>
      Nous vous confirmons la bonne réception de la commande n°<%= @order.id %> en date du <%= @order.created_at %>
    </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Désignation</th>
          <th scope="col">Prix</th>
        </tr>
      </thead>
      <tbody>
        <% @order.items.each do |item| %>
          <tr>
            <td><%= item.title %></td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      Pour accéder à votre espace client, connectez-vous en <a href="<%= @url %>">cliquant ici</a>.
    </p>
    <p> À très vite sur Catz Temple ! </p>
  </body>
</html>