<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation de commande n°<%= @order.id %></h1>
    <p>
      Nous vous confirmons la bonne réception de la commande n°<%= @order.id %> en date du <%= @order.created_at %>
    </p>
    <table>
      <thead>
        <tr>
          <th>Désignation</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
        <% @order.items.each do |item| %>
          <tr>
            <td><%= item.title %></td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      Pour accéder à votre espace client, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur Catz Temple !
  </body>
</html>